body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: white;
}


.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #282c34;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* Button Styling */
.home-button {
  background-color: #21f559;
  color: #eff1f7;
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #fbfffb;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #178848;
  border-bottom: 1px solid #ddd;
}

.navbar-links {
  display: flex;
  gap: 15px;
}

.navbar-logo {
  text-decoration: none;
  color: #f4f6f8;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-button {
  text-decoration: none;
  color: #eff1f7;
  background-color: #969c97; /* Green background for buttons */
  padding: 8px 16px; /* Add padding for button-like appearance */
  border-radius: 5px; /* Rounded corners */
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth hover effect */
}

.navbar-button:hover {
  background-color: #fbfffb; /* Lighter background on hover */
  color: #178848; /* Darker text color on hover */
}