.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34; 
    text-align: center;
    color: white;
  }
  
 
  .login-box {
    background: rgba(255, 255, 255, 0.1); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 320px;
  }
  
  
  input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  
  .login-button {
    width: 100%;
    padding: 12px;
    background-color: #21f559;
    color: #282c34;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #fbfffb;
  }
  
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }